@{
    ViewBag.Title = "IPL hair removal, skin Rejuvenation,  skin pigmentation removal, red vein removal and acne treatment in Morpeth";

}
<!-- Home Design -->
<div class="ulockd-home-slider">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 ulockd-pmz">
                <div class="ulockd-main-slider">
                    <div class="item">
                        <div class="caption style1 text-left">
                            <div class="ulockd-slider-text1 wow fadeInUp" data-wow-duration="300ms" data-wow-delay=".3s">THE LASER CLINIC</div>
                            <div class="ulockd-slider-text2 wow fadeInUp" data-wow-duration="600ms" data-wow-delay=".6s">Pain Free Hair Removal & <span class="text-thm1"> Skin Solutions</span></div>
                            <div class="ulockd-slider-text3 wow fadeInUp" data-wow-duration="900ms" data-wow-delay=".9s">
                                <p>We provide treatment for Acne, Age Spots, Rosacea, Thread Veins, Skin Rejuvenation, Sun Damage, Anti-Ageing, Eye and Jawline Lifting, Wrinkle Reduction, Acne Scarring, Scarring and Stretch Mark Removal, Pain Free Permanent Hair Removal. in Morpeth and the North East</p>
                            </div>
                            <a href="@Url.Action("Contact","Home")" class="btn btn-lg ulockd-btn-thm ulockd-home-btn wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="1.2s"><span> Get A Quote</span></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="caption style2 text-center">
                            <div class="ulockd-slider-text1 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay=".1.5s">THE LASER CLINIC</div>
                            <div class="ulockd-slider-text2 wow fadeInUp" data-wow-duration="1800ms" data-wow-delay="1.8s">Your Satisfaction Our<span class="text-thm1"> Goal </span></div>
                            <div class="ulockd-slider-text3 wow fadeInUp" data-wow-duration="2100ms" data-wow-delay="2.1s">
                                <p>To book a consultation and test patch please call 07783376702</p>
                            </div>
                            <a href="@Url.Action("Contact","Home")" class="btn btn-lg ulockd-btn-thm ulockd-home-btn wow fadeInUp" data-wow-duration="2400ms" data-wow-delay="2.4s"><span> Get A Quote</span></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="caption style3 text-right">
                            <div class="ulockd-slider-text1 wow fadeInRight" data-wow-duration="2700ms" data-wow-delay="2.7s">THE LASER CLINIC</div>
                            <div class="ulockd-slider-text2 wow fadeInRight" data-wow-duration="3000ms" data-wow-delay="3s">Laser Hair<span class="text-thm1"> Removal</span></div>
                            <div class="ulockd-slider-text3 wow fadeInRight" data-wow-duration="3300ms" data-wow-delay="3.3s">
                                <p>The Laser Clinic offers Lynton Luminette IPL hair removal in Morpeth and the North East so you can say goodbye to messy waxing and daily shaving.</p>
                            </div>
                            <a href="@Url.Action("Contact","Home")" class="btn btn-lg ulockd-btn-thm ulockd-home-btn wow fadeInRight" data-wow-duration="3600ms" data-wow-delay="3.6s"><span> Get A Quote</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .nhs-sub {
        color: white;
        font-size: xx-large;
        padding-top: 10px;
    }
</style>

<!-- Our Last Divider -->
<section class="ulockd-frst-divider">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="ulockd-dvidr-mttl">Book your free consultation and test patch today.</h2>
                <div class="ulockd-dvidr-btn text-uppercase"><a class="btn btn-default ulockd-btn-white hvr-overline-from-center" href="@Url.Action("Contact","Home")">Book Now</a></div>
            </div>
        </div>
    </div>
</section>


<!-- Our Service -->
<section class="ulockd-service-two parallax" data-stellar-background-ratio="0.3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 text-center">
                <div class="ulockd-srvc-title hvr-float-shadow">
                    <h2 class="text-uppercase">Our <span class="text-thm1">Services</span></h2>
                    @*<p>Medicinal Service Company puts stock in conveying the most elevated quality administration with quality and sympathy every day.</p>*@
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-6 hvr-underline-from-center">
                <a href="@Url.Action("PigmentationRemoval", "Treatments")">
                    <div class="ulockd-srvc-column">
                        <div class="ulockd-srv-icon pull-left"><span class="flaticon-medical-30"></span></div>
                        <div class="ulockd-srvc-details">
                            <h3>Pigment Removal</h3>
                            <p>
                                Pigmented lesions such as sun spots and freckles can be successfully removed creating a more flawless, youthful and glowing appearance.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 hvr-underline-from-center">
                <a href="@Url.Action("VascularTreatment", "Treatments")">
                    <div class="ulockd-srvc-column">
                        <div class="ulockd-srv-icon pull-left"><span class="flaticon-medical-29"></span></div>
                        <div class="ulockd-srvc-details">
                            <h3>Red Vein Removal</h3>
                            <p>We can provide a long term solution to facial problems such as red flushing (Rosacea), thread veins and red spots in just a few quick and easy treatments.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 hvr-underline-from-center">
                <a href="@Url.Action("LaserHairRemoval","Treatments")">
                    <div class="ulockd-srvc-column">
                        <div class="ulockd-srv-icon pull-left"><span class="flaticon-people-9"></span></div>
                        <div class="ulockd-srvc-details">
                            <h3>Hair Removal</h3>
                            <p>We offer a safe, long-term solution to unwanted, excess hair for both men and women. Treatment is suitable for the face and body, is quick and results can be seen after just a few sessions.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 hvr-underline-from-center">
                <a href="@Url.Action("SkinRejuvenation", "Treatments")">
                    <div class="ulockd-srvc-column">
                        <div class="ulockd-srv-icon pull-left"><span class="flaticon-medical-30"></span></div>
                        <div class="ulockd-srvc-details">
                            <h3>Skin Rejuvenation</h3>
                            <p>
                                Skin Rejuvenation treatments
                                offer a solution for all the visible
                                signs of ageing caused by sun
                                damage, such as brown spots
                                (pigmentation), redness (thread
                                veins) and uneven skin texture,
                                lines and wrinkles.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 hvr-underline-from-center">
                <a href="@Url.Action("Acne", "Treatments")">
                    <div class="ulockd-srvc-column">
                        <div class="ulockd-srv-icon pull-left"><span class="flaticon-medical-12"></span></div>
                        <div class="ulockd-srvc-details">
                            <h3>Acne Treatment</h3>
                            <p>Acne can be effectively treated with Intense Pulsed Light alone or in combination with other clinical treatments. Intense Pulsed Light treatments greatly reduce the number and severity of active lesions, lessening the inflammation and frequency of break-outs.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 hvr-underline-from-center">
                <a href="@Url.Action("RemodelRadioFrequency", "Treatments")">
                    <div class="ulockd-srvc-column">
                        <div class="ulockd-srv-icon pull-left"><span class="flaticon-medical-1"></span></div>
                        <div class="ulockd-srvc-details">
                            <h3>Remodel RF (Radio Frequency)</h3>
                            <p>For tighter, firmer and younger looking skin with improved skin tone, texture and elasticity. This treatment creates new collagen and elastin, causing lifting and tightening of the skin around the eye and jawline area.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 hvr-underline-from-center">
                <a href="@Url.Action("ResurfaceFractionalLaser", "Treatments")">
                    <div class="ulockd-srvc-column">
                        <div class="ulockd-srv-icon pull-left"><span class="flaticon-medical-1"></span></div>
                        <div class="ulockd-srvc-details">
                            <h3>Resurface Fractional Laser</h3>
                            <p>This process helps to smooth out any uneven areas and promote the formation of collagen to dramatically reduce wrinkles, acne scarring, scarring and stretch marks.</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>



<!-- NHS APPORVED -->
<section class="ulockd-service">
    <div class="container">


        <div class="col-xs-6 col-sm-6 text-right">
            <img src="@Url.Content("~/Images/nhs-logo.png")" style="max-height: 100px;" />
        </div>
        <div class="col-xs-6 col-sm-6">
            <p class="nhs-sub">Approved </p>
            <p class="nhs-sub">Equipment</p>
        </div>

    </div>
</section>

<!-- Our Service -->
<section class="ulockd-service-two parallax" data-stellar-background-ratio="0.3">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="ulockd-srvc-title">
                    <h2 class="text-uppercase">Our <span class="text-thm1">Story</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>The Laser Clinic is one of the very few clinics to offer the most advanced technology available for the treatment of various skin conditions and pain free hair removal for men and woman.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>Located in rural Northumberland and tucked away within a beautiful and peaceful location. Only 4 miles from Morpeth, The Laser Clinic provides a haven of true luxury.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">


                <p> Escape the hustle and bustle of the city and let The Laser Clinic tailor our treatments to your needs.</p>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">

                <div class="ulockd-srvc-title">
                    <p>  Be assured that after your free consultation each treatment will be carefully selected to ensure the best results are experienced. </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="ulockd-srvc-title">
                    <h2 class="text-uppercase">Opening <span class="text-thm1">Hours</span></h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">

                <p>Monday          9am – 8pm</p>
                <p>Tuesday         9am – 8pm</p>
                <p>Wednesday       9am – 8pm</p>
                <p>Thursday        9am – 8pm</p>
                <p>Friday          9am -  8pm</p>
                <p>Saturday        9am - 6pm</p>
                <p>Sunday          Closed</p>

            </div>
        </div>
    </div>
</section>



